<div class="container">
    <%= simple_form_for @product do |f| %>
    <div class="header">
      <h3>Make a product</h3>
    </div>
    <div class="sep"></div>
    <div class="inputs">
      <%= f.input :brand, label: false,  required: true, placeholder: 'Brand', inline_label: "Brand" %>
      <%= f.input :model, label: false,  required: true, placeholder: 'Model', inline_label: "Model" %>
      <%= f.input :description, label: false,  required: true, placeholder: 'Description', inline_label: "Description" %>
      <%= f.input :price, label: false,  required: true, placeholder: 'Price', inline_label: "Price" %>

      <%= f.button :submit, "Create Product" %>
    </div>
    <% end %>
</div>
